#led-conf{
    height: 30px;
    width: 30px;
    border: 3px solid #333; 
    border-radius: 50%;
}

.led-green{
    background-color: #4cd137;
}

.led-green-on{
    background-color: #22ff00;
}

.led-red{
    background-color: #d63031;

}
.led-red-on{
    background-color: #ff0000;
}

.led-yellow{
    background-color: #f1c40f;

}
.led-yellow-on{
    background-color: #ffcc00;
}

.led-blue{
    background-color: #0984e3;
}
