.pokedex-l {
    height: 500px;
    width: 400px;
    justify-self: right;
    background-color: #e84118;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 0.5rem;
    border-left: 10px solid #333;
    border-bottom: 10px solid #333;
    border-right: 10px solid #333;
}

.in-pokedex-l, .in-pokedex-R{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.in-pokedex-R{
    justify-content: flex-end;
}

.btns-l, .btns-R, .leds, .Search, .display-R{
    height: 33%;
    width: 100%;
}

.btns-l{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.big-led{
    height: 60px;
    width: 60px;
    background-color: #2980b9;
    border: 3px solid #333;
    border-radius: 50%;
}

.display-margin{
    height: 33%;
    width: 70%;
    background-color: #f6e58d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border-top-left-radius: 5rem;
}


.pokedex-R {
    height: 500px;
    width: 400px;
    justify-self: left;
    background-color: #e84118;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: 10px solid #333;
}

.Search ,.display-R, .btns-R{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search{
    height: 5%;
    align-items: flex-end;
}

.display-R{
    height: 60%;
}

.btns-R{
    height: 23%;
    justify-content: space-around;
}

.btn-Rl{
    margin-right: 5px;
}

.btn-Rl, .btn-RR{
    color: #4cd137;
    height : 30px;
    width : 70px;
    background-color: #34495e;
    border: none;
    border-radius: 0.5rem;
}